@use "sass:map";

.g-accordion {
	&__item {
		padding: calc(var(--g-general-margin, 16px) / 2);
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		column-gap: var(--g-general-margin, 16px);

		svg {
			width: var(--g-general-margin, 16px);
			height: var(--g-general-margin, 16px);
			transition: transform var(--g-general-duration, 0.2s);
			flex-shrink: 0;
		}
		* {
			margin: 0;
		}
		&--expanded {
			svg {
				transform: rotate(90deg);
			}
		}
	}
}
