@use "sass:map";

.g-files {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--g-general-margin, 16px);

	@media only screen and (min-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (min-width: 782px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media only screen and (min-width: 960px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.g-file {
	display: grid;
	grid-template-columns: 32px auto;
	align-content: start;
	grid-template-areas:
		"icon title"
		"icon name"
		"icon size";
	column-gap: calc(var(--g-general-margin, 16px) / 2);

	&__icon {
		grid-area: icon;
		max-width: 32px;
	}

	&__title {
		grid-area: title;
	}

	&__name {
		grid-area: name;
	}

	&__size {
		grid-area: size;
	}
}
