@use "sass:math";
@use "sass:color";
@use "sass:map";

// -------- Colors -------- //
$colors: (
	black: #000,
	dark: #515151,
	white: #fff,
	light: #f1f1f1,
	lightgrey: #b5b5b5,
	darkgrey: #515151,
	background: #f3f3f2,
	none: rgba(0, 0, 0, 0),
);

// --------- Fonts -------- //
$fonts: (
	primary: #{'-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif'},
	primary_weight_light: lighter,
	primary_weight_regular: normal,
	primary_weight_bold: bold,
);

// ------- Variables ------ //
$generalMargin: 16px;
$generalFontSize: 16px;
$generalBorderColor: primary;
$generalBorderWidth: 1px;
$generalBorderType: solid;
$generalBorder: $generalBorderWidth $generalBorderType map.get($colors, $generalBorderColor);
$generalRadius: 10px;
$generalDuration: 0.3s;

// ------ Breakpoints ----- //
$breakpoints: (
	fullgm: 1366px + $generalMargin * 2,
	full: 1366px,
	largegm2: 960px + $generalMargin * 4,
	largegm: 960px + $generalMargin * 2,
	large: 960px,
	mediumgm2: 782px + $generalMargin * 4,
	mediumgm: 782px + $generalMargin * 2,
	medium: 782px,
	smallgm: 600px + $generalMargin * 2,
	small: 600px,
	mini: 480px,
);

//  Media  querys and functions  //
@mixin mediaquery($minmax, $breakpoint) {
	@media only screen and (#{$minmax}-width: #{map.get($breakpoints, $breakpoint)}) {
		@content;
	}
}

@mixin fontsize($size: $generalFontSize, $lineheight: 1.3) {
	font-size: $size * 0.8;
	line-height: $lineheight;

	@include mediaquery(min, small) {
		font-size: $size * 0.9;
	}

	@include mediaquery(min, medium) {
		font-size: $size;
	}
}

// -------- Buttons ------- //
@mixin button($background: darkgrey, $color: white, $border: false, $fontAndPadding: true, $style: true, $element: true, $alternationClass: true, $borderradius: true) {
	@if $element {
		@if $borderradius {
			border-radius: $generalRadius;
		}
		font-family: map.get($fonts, headers);
		font-style: normal;
		font-weight: map.get($fonts, primary_weight_regular);
		transition: all $generalDuration;
		text-decoration: none;
		-webkit-appearance: none;
		text-shadow: none;
		box-shadow: none;
	}

	@if $style {
		background: map.get($colors, $background);
		color: map.get($colors, $color);
	}

	@if $border {
		@if $style {
			border-style: $generalBorderType;
			border-width: $generalBorderWidth;
			border-color: map.get($colors, $generalBorderColor);
		}
	} @else {
		border: none;
	}

	@if $fontAndPadding {
		@include fontsize($generalFontSize * 1.1, 0.8);
		padding: math.div($generalMargin, 4) * 3 $generalMargin * 1.5;
	}

	&[disabled],
	&:disabled,
	&.disabled,
	&-disabled,
	&--disabled,
	&[aria-disabled="true"] {
		@if $style {
			color: map.get($colors, $color) !important;
			@if $border {
				border-color: map.get($colors, $generalBorderColor) !important;
			}
			background: map.get($colors, $background) !important;
			opacity: 0.5 !important;
		}

		&:hover {
			cursor: default;
		}
	}

	&:visited {
		@if $style {
			color: map.get($colors, $color);
		}
	}

	&:hover,
	&:focus {
		text-decoration: none;
		cursor: pointer;

		@if $style {
			background: color.adjust(map.get($colors, $background), $lightness: -20%) !important;
			color: map.get($colors, $color) !important;
		}
	}

	@if $alternationClass {
		&--active {
			text-decoration: none;
			cursor: pointer;

			@if $style {
				background: color.adjust(map.get($colors, $background), $lightness: -20%);
				color: map.get($colors, $color);
			}
		}
	}
}

// Button modules
@mixin g-button {
	@include button($style: false);
}

@mixin g-button--admin {
	@include button($style: false, $borderradius: false, $fontAndPadding: false);
	white-space: unset;
}

@mixin g-button--primary {
	@include button($element: false, $alternationClass: false);
}

@mixin g-button--primary-admin {
	@include button($element: false, $alternationClass: false, $fontAndPadding: false);
}

@mixin g-button--secondary-admin {
	@include button($element: false, $alternationClass: false, $color: dark, $background: light, $fontAndPadding: false);
}

@mixin g-button--g-color-white {
	@include button($element: false, $alternationClass: false, $color: dark, $background: white);
}

@mixin g-button--g-color-white-blank {
	@include button($element: false, $alternationClass: false, $color: white, $background: none);
	background: none;

	&:hover,
	&:focus {
		background: none;
		text-decoration: underline;
	}
}

@mixin g-button--blank-admin {
	@include button($element: false, $alternationClass: false, $color: dark, $background: none, $fontAndPadding: false);
	background: none;

	&:hover,
	&:focus {
		background: none;
		text-decoration: underline;
	}
}

@mixin g-button--small {
	@include fontsize($generalFontSize, 1);
	padding: math.div($generalMargin, 2) $generalMargin;
}

// -------- Inputs -------- //
@mixin input($background: darkgrey, $border: false, $color: white, $fontAndPadding: true, $style: true, $element: true) {
	@if $element {
		border: $generalBorder;
		border-radius: $generalRadius;
		font-family: map.get($fonts, primary);
		font-style: normal;
		font-weight: map.get($fonts, primary_weight_regular);
		white-space: nowrap;
		transition: all $generalDuration;
		-webkit-appearance: none;
	}

	@if $style {
		background: map.get($colors, $background);
		color: map.get($colors, $color);

		&::placeholder {
			opacity: 0.5;
		}

		@if $border {
			border-style: $generalBorderType;
			border-width: $generalBorderWidth;
			border-color: map.get($colors, $generalBorderColor);

			&:focus {
				outline: none;
				box-shadow: inset 0 0 1px map.get($colors, $generalBorderColor);
			}
		} @else {
			border: none;

			&:focus {
				outline: none;
				box-shadow: inset 0 0 1px color.adjust(map.get($colors, $background), $lightness: 10%);
			}
		}
	}

	@if $fontAndPadding {
		@include fontsize($generalFontSize * 1, $generalFontSize * 1);
		padding: math.div($generalMargin, 2) $generalMargin;
	}
}

// Input modules
@mixin g-input {
	@include input($style: false, $element: true);
}

@mixin g-input--primary {
	@include input($style: true, $element: false, $background: white, $color: dark);
}

// ------- Checkbox ------- //
@mixin g-checkbox($background: white, $border: primary) {
	position: relative;
	width: 16px !important;
	height: 16px !important;
	border: $generalBorder;
	border-color: map-get($colors, $background);
	border-radius: math.div($generalRadius, 2);
	background: map.get($colors, $background);
	box-shadow: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:checked:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border: 3px solid map-get($colors, $background);
		border-radius: math.div($generalRadius, 3);
		background: map.get($colors, $border);
		content: "";
	}
}
