[onclick^="g_fullscreen_modal"] {
	cursor: pointer;
}
.g-image-modal {
	.g-modal__content {
		display: flex;
		flex-direction: column;
		row-gap: calc(var(--g-general-margin, 16px) / 2);
		max-width: min(var(--g-bp-full, 1366px), 100vw - var(--g-general-margin, 16px));
		object-fit: contain;
	}
	&__navigation {
		&-wrapper {
			display: flex;
			justify-content: space-between;
		}
	}
	&__image {
		max-width: 95vw;
		max-height: min(85vh, calc(100vh - (var(--g-general-margin, 16px) * 8)));
	}
}
