@use "sass:map";

.g-body--modal-open {
	overflow: hidden;
}

.g-modal {
	display: none; // flex
	position: fixed;
	z-index: 1010;
	top: -100px;
	left: -100px;
	width: calc(100% + 200px);
	height: calc(100% + 200px);
	opacity: 0;
	background-color: rgba($color: #000, $alpha: 0.3);
	transition: all 0.2s;
	transition: all var(--g-general-duration, 0.2s);
	transform: scale(0.9);
	justify-content: center;
	align-items: center;

	&__content {
		overflow: auto;
		position: relative;
		max-width: min(600px, calc(100% - 200px - 16px));
		max-width: min(600px, calc(100% - 200px - var(--g-general-margin, 16px)));
		max-height: calc(100vh - 200px - 16px);
		max-height: calc(100% - 200px - var(--g-general-margin, 16px));
		margin: 16px;
		margin: var(--g-general-margin, 16px);
		padding: 16px;
		padding: var(--g-general-margin, 16px);
		border-radius: 5px;
		border-radius: var(--g-general-radius, 5px);
		background: white;
		background: var(--g-color-white, white);

		@media only screen and (min-width: 628px) {
			margin: 16px auto;
			margin: var(--g-general-margin, 16px) auto;
		}
	}

	&__x-closer {
		position: absolute;
		top: 16px;
		top: var(--g-general-margin, 16px);
		right: 16px;
		right: var(--g-general-margin, 16px);
		width: 16px;
		width: var(--g-general-margin, 16px);
		height: 16px;
		height: var(--g-general-margin, 16px);
		cursor: pointer;

		&:after,
		&:before {
			position: absolute;
			top: 50%;
			right: 50%;
			width: 3px;
			height: 16px;
			height: var(--g-general-margin, 16px);
			background: #1a1a1a;
			background: var(--g-color-dark, #1a1a1a);
			content: "";
		}

		&:after {
			transform: translate(50%, -50%) rotate(45deg);
		}

		&:before {
			transform: translate(50%, -50%) rotate(-45deg);
		}
	}

	&__close-outside {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
