@use "sass:map";

.g-panorama {
	display: flex;
	margin-bottom: 28px;
	margin-bottom: calc(var(--g-general-margin, 16px) * 2);
	align-items: center;
	justify-content: center;

	* {
		margin: 0;
	}

	&__content {
		text-align: center;
	}

	&--no-image {
		min-height: 15vh;
	}
	&--image {
		min-height: 25vh;
		background-position: center;
		background-size: cover;

		.g-panorama {
			&__content {
				width: 100%;
				margin: 0;
				padding: 42px 0;
				padding: calc(var(--g-general-margin, 16px) * 3) 0;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 35%, rgba(0, 0, 0, 0.25) 65%, rgba(0, 0, 0, 0) 100%);
			}

			&__title {
				color: white;
				color: var(--g-color-white);
			}
		}
	}
}
