@use "components/global-internal" as g;
@use "sass:map";

.login {
	background: map-get(g.$colors, white);

	&:not(.interim-login) {
		background-image: url("../resources/wallpaper_gibon.svg");
		background-position: center;
		background-size: cover;
	}

	#login {
		overflow: auto;

		position: fixed;
		top: g.$generalMargin;
		right: g.$generalMargin;
		left: g.$generalMargin;
		width: unset;
		padding: g.$generalMargin;
		border-radius: g.$generalRadius;
		background: map-get(g.$colors, lightgrey);

		// Disable scrollbars
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		@include g.mediaquery(min, small) {
			top: 50%;
			right: unset;
			bottom: unset;
			left: 10%;
			width: 320px;
			transform: translate(0, -50%);
		}

		h1 {
			a {
				width: 100px;
				height: 75px;
				padding-bottom: 0;
				background-image: url("../resources/logo_gibon.svg");
				background-repeat: no-repeat;
				background-position: bottom center;
				background-size: contain;
			}
		}

		p,
		a,
		label {
			color: map-get(g.$colors, dark);
		}

		a {
			text-decoration: none;
		}

		input[type="text"],
		input[type="password"] {
			@include g.g-input;
			@include g.g-input--primary;

			&:focus {
				box-shadow: none;
			}
		}

		input[type="checkbox"] {
			@include g.g-checkbox(white, dark);
		}

		input#wp-submit {
			@include g.g-button;
			@include g.g-button--g-color-white;
		}

		.admin-email-confirm-form {
			h1.admin-email__heading {
				display: none;
			}
			input#correct-admin-email {
				@include g.g-button--g-color-white;
			}
			a.button.button-large {
				@include g.g-button--blank-admin;
			}
			input#correct-admin-email,
			a.button.button-large {
				@include g.g-button;
				@include g.g-button--small;
			}
			a.button.button-large:hover {
				text-decoration: underline;
			}
			.admin-email__actions-primary {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;

				* {
					margin: 0;
				}
			}
		}

		#loginform,
		#lostpasswordform {
			padding: 0;
			border: none;
			background: map-get(g.$colors, lightgrey);
			box-shadow: none;

			@include g.mediaquery(min, small) {
				padding: 26px 0;
			}

			label[for="password_protected_pass"] {
				width: 100%;
			}

			.forgetmenot label {
				@include g.g-button;
				@include g.g-button--blank-admin;
				padding-left: 0;
			}
		}

		#backtoblog,
		#nav {
			margin-bottom: 0;
			padding: 0 !important;

			a {
				color: map-get(g.$colors, darkgrey) !important;
			}
		}

		#login_error,
		.message,
		.success {
			margin: 10px 0 0 0;
			border-left: 4px solid map-get(g.$colors, darkgrey) !important;
			background-color: map-get(g.$colors, lightgrey) !important;
			box-shadow: none !important;
		}

		.wp-pwd {
			.dashicons {
				color: map-get(g.$colors, darkgrey);
			}
		}

		.admin-email-confirm-form {
			padding: 0;
			border: none;
			background: map-get(g.$colors, lightgrey);
			box-shadow: none;

			h1 {
				border-bottom: none;
			}
		}

		.privacy-policy-page-link {
			margin: g.$generalMargin 0;

			@include g.mediaquery(min, small) {
				margin: g.$generalMargin * 4 0;
			}
		}

		// Support and contact buttons
		.g-button {
			@include g.g-button;
		}
		.g-button--first {
			@include g.g-button--g-color-white;
		}
		.g-button--second {
			@include g.g-button--blank-admin;
		}
		.g-button--small {
			@include g.g-button--small;
		}
		.g-margin-top {
			margin-top: g.$generalMargin * 2;
		}
		.g-margin-bottom {
			margin-bottom: g.$generalMargin * 2;
		}

		// Settings for screens with small height
		@media only screen and (max-height: 700px) {
			#loginform,
			#lostpasswordform {
				padding: 10px 0;
			}
			h1 a {
				width: 100%;
				height: 30px;
				padding-bottom: g.$generalMargin;
				background-image: url("../resources/logo_gibon.svg");
				background-repeat: no-repeat;
				background-size: contain;
			}
			.privacy-policy-page-link {
				margin: g.$generalMargin 0;
			}
		}
	}
}

.language-switcher {
	padding-top: 24px;

	form {
		margin-top: 0;
		.button {
			@include g.g-button--admin;
			@include g.g-button--primary;
			@include g.g-button--small;
		}

		select {
			border-color: map.get(g.$colors, dark);
			outline: none !important;
			color: map.get(g.$colors, dark);
			box-shadow: none !important;

			&:hover,
			&:focus {
				border-color: map.get(g.$colors, black);
				color: map.get(g.$colors, black);
			}
		}
	}
}
