@use "components/global-internal" as g;
@use "sass:map";

body {
	background: map-get(g.$colors, background);

	a {
		color: map.get(g.$colors, dark);
		transition: all g.$generalDuration;

		&:hover,
		&:focus {
			outline: none !important;
			color: map.get(g.$colors, black);
			box-shadow: none !important;
			text-decoration: underline;
		}

		&:visited {
			color: map.get(g.$colors, dark);
		}
	}
}

//Hide the color theme selector
.user-admin-color-wrap {
	display: none;
}

//Hide the NF "Append a form"
#nf_admin_metaboxes_appendaform {
	display: none;
}

//Size of the interim-login
#wp-auth-check-wrap #wp-auth-check {
	max-height: 470px;
}

//Disable the underline for the ACF icons
.editor-styles-wrapper a.acf-icon {
	text-decoration: none !important;
}

//Add margin to the bottom of the editor
.wp-block-post-content {
	padding-bottom: g.$generalMargin * 1.5;
}

#wpwrap {
	.postbox:not(.seamless.acf-postbox) {
		border: none;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);

		&#gital_dashboard_widget .postbox-header {
			display: none;
		}

		&#gital_dashboard_widget .inside {
			border-radius: g.$generalRadius;
		}
	}
	#dashboard-widgets-wrap .postbox {
		border-radius: g.$generalRadius;
	}

	.plugin-update-tr.active td {
		border-color: map.get(g.$colors, dark);
	}

	.plugins .active {
		td,
		th {
			background-color: map.get(g.$colors, white);
		}

		th.check-column {
			border-color: map.get(g.$colors, dark);
		}
	}

	.card {
		border-radius: g.$generalRadius;
	}
}

#wpadminbar,
#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .wp-submenu {
	background-color: map-get(g.$colors, darkgrey);
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
.folded #adminmenu li.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow div {
	color: map-get(g.$colors, darkgrey);
	background: map-get(g.$colors, background);
}

#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu .wp-has-current-submenu div.wp-menu-image:before,
#adminmenu .current div.wp-menu-image:before,
#adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before {
	color: map-get(g.$colors, darkgrey);
}

#adminmenu .wp-has-current-submenu .wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu {
	background-color: map-get(g.$colors, background);
}

#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li.current a,
#adminmenu .opensub .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:hover,
#adminmenu .wp-submenu li.current a:focus {
	color: map-get(g.$colors, darkgrey);
}

#adminmenu .wp-submenu a {
	color: map-get(g.$colors, darkgrey);
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
	color: map-get(g.$colors, background);
	background-color: map-get(g.$colors, lightgrey);
}

#adminmenu a:hover,
#adminmenu li.menu-top > a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-submenu a:focus {
	color: map-get(g.$colors, background);
}

#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before {
	color: map-get(g.$colors, background);
}

#adminmenu a {
	color: map-get(g.$colors, background);
}

#adminmenu .wp-submenu li a:hover {
	color: map-get(g.$colors, lightgrey);
}

#adminmenu .wp-not-current-submenu li > a,
.folded #adminmenu .wp-has-current-submenu li > a {
	color: map-get(g.$colors, background);
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
	color: map-get(g.$colors, background);
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
	color: map-get(g.$colors, background);
}

a {
	color: map-get(g.$colors, darkgrey);
}

.wrap .add-new-h2,
/* deprecated */
.wrap .add-new-h2:active,
/* deprecated */
.wrap .page-title-action,
.wrap .page-title-action:active {
	@include g.g-button--admin;
	@include g.g-button--primary;
	@include g.g-button--small;
}

.wrap .wp-heading-inline + .page-title-action {
	margin-left: 0;
}

.wrap .add-new-h2:hover,
/* deprecated */
.wrap .page-title-action:hover {
	color: map-get(g.$colors, lightgrey);
	background: map-get(g.$colors, darkgrey);
}

#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
	color: map-get(g.$colors, background);
}

#wpadminbar a,
#wpadminbar a:hover,
#wpadminbar a img,
#wpadminbar a img:hover {
	background: none;
}

#wpadminbar {
	color: map-get(g.$colors, background);
	background: map-get(g.$colors, darkgrey);
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
	color: map-get(g.$colors, background);
	background: map-get(g.$colors, darkgrey);
}

#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item {
	color: map-get(g.$colors, background);
	background: map-get(g.$colors, darkgrey);
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
	color: map-get(g.$colors, background);
}

#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar #adminbarsearch:before {
	color: map-get(g.$colors, lightgrey);
}

#wpadminbar .ab-submenu .ab-item {
	color: map-get(g.$colors, lightgrey);
}

#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: map-get(g.$colors, lightgrey);
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
	color: map-get(g.$colors, background);
}

#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
	color: map-get(g.$colors, lightgrey);
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
	color: map-get(g.$colors, background);
}

#wpadminbar .menupop .menupop > .ab-item .wp-admin-bar-arrow:before {
	color: inherit;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: map-get(g.$colors, darkgrey);
}

#wpadminbar .quicklinks .menupop .ab-sub-secondary > li > a:hover,
#wpadminbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus a {
	color: map-get(g.$colors, background);
}

#wpadminbar .quicklinks a span#ab-updates {
	color: map-get(g.$colors, darkgrey);
	background: map-get(g.$colors, background);
}

#wpadminbar .quicklinks a:hover span#ab-updates {
	color: map-get(g.$colors, white);
	background: map-get(g.$colors, white);
}

#wpadminbar #wp-admin-bar-recovery-mode {
	color: map-get(g.$colors, white);
	background-color: #fff042;
}

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
	color: map-get(g.$colors, white);
	background-color: #fff042;
}

#wpadminbar #wp-admin-bar-user-info {
	background: none;
}

#wpadminbar #wp-admin-bar-user-info .username {
	color: map-get(g.$colors, lightgrey);
}

#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img,
#wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
	border-color: map-get(g.$colors, lightgrey);
	background: map-get(g.$colors, background);
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: map-get(g.$colors, darkgrey);
}

#wpadminbar .quicklinks li .blavatar {
	color: map-get(g.$colors, background);
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar {
	color: map-get(g.$colors, background);
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input {
	color: map-get(g.$colors, background);
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	color: map-get(g.$colors, white);
	background-color: rgba(255, 255, 255, 0.9);
}

#wpadminbar .screen-reader-shortcut:focus {
	color: map-get(g.$colors, background);
	background: map-get(g.$colors, background);
}

#wpadminbar #wp-admin-bar-my-sites > .ab-item,
#wpadminbar #wp-admin-bar-site-name > .ab-item,
#wpadminbar #wp-admin-bar-customize > .ab-item,
#wpadminbar #wp-admin-bar-edit > .ab-item,
#wpadminbar #wp-admin-bar-my-account > .ab-item {
	color: map-get(g.$colors, background);
}

#wpadminbar #wp-admin-bar-user-info .display-name {
	color: map-get(g.$colors, background);
}

.wp-core-ui {
	.button,
	.components-button,
	.is-button,
	#wpwrap .button,
	.woocommerce-message .button-primary,
	p.woocommerce-actions .button-primary,
	.woocommerce-message .button-secondary,
	p.woocommerce-actions .button-secondary {
		@include g.g-button--admin;
		// @include g.g-button--small;
	}

	.button-primary,
	.button,
	.is-primary,
	.woocommerce-message .button-primary,
	p.woocommerce-actions .button-primary {
		@include g.g-button--primary-admin;
	}

	.button-secondary,
	.is-secondary,
	.woocommerce-message .button-secondary,
	p.woocommerce-actions .button-secondary {
		@include g.g-button--secondary-admin;
	}

	.acf-button {
		border-color: map-get(g.$colors, dark) !important;
		color: map-get(g.$colors, white) !important;
		background: map-get(g.$colors, dark) !important;
	}

	.button-tertiary,
	.is-tertiary {
		@include g.g-button--blank-admin;
	}

	.is-pressed {
		background: map-get(g.$colors, lightgrey);
	}

	#screen-meta-links button.button {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	#screen-meta {
		border: none;
	}

	textarea,
	input,
	select {
		border-color: map.get(g.$colors, dark);
		outline: none !important;
		color: map.get(g.$colors, dark);
		box-shadow: none !important;

		&:hover,
		&:focus {
			border-color: map.get(g.$colors, black);
			color: map.get(g.$colors, black);
		}
	}

	// Support for order action buttons
	.wc_actions p a,
	.fortnox a.button {
		background: map-get(g.$colors, lightgrey);
	}
}

// Dashboard widget
#dashboard-widgets .postbox-container .empty-container,
#dashboard-widgets .postbox-container .empty-container.meta-box-sortables {
	display: none !important;
}

#gital_dashboard_widget {
	.inside {
		margin: 0;
		padding-top: 12px;
		background: map-get(g.$colors, darkgrey);

		img {
			display: block;
			width: 100px;
			margin: 12px 0 0 auto;
		}

		p {
			margin-top: 0;
			color: map-get(g.$colors, light);
		}

		hr {
			margin: 30px 0;
		}

		.g-button {
			@include g.g-button;
		}
		.g-button--first {
			@include g.g-button--g-color-white;
		}
		.g-button--second {
			@include g.g-button--g-color-white-blank;
		}
		.g-margin-top {
			margin-top: g.$generalMargin * 2;
		}
	}
}

.button.wp-color-result {
	border: 1px solid black !important;
}

// Managed hosting status
.g-lib-mh-status {
	display: flex;
	align-items: center;
	margin-top: 5px;

	&__icon {
		width: 1em;
		height: 1em;
		margin-top: 1px;
		margin-left: 3px;
		border: 2px solid map-get(g.$colors, light);
		border-radius: 100%;

		&--active {
			background: #7ad03a;
		}
		&--inactive {
			background: #a00;
		}
	}
}

// Managed hosting storage
.g-lib-mh-storage {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: map-get(g.$colors, light);

	p {
		margin: 0;
	}

	&__bar {
		position: relative;
		box-sizing: border-box;
		height: 25px;
		margin: 5px 0;
		padding: 2px;
		border: 2px solid map-get(g.$colors, light);
		border-radius: 6px;
		grid-column: 1/3;
	}
	&__inner_bar {
		height: 100%;
		border-radius: 3px;
		background: map-get(g.$colors, light);
	}
	&__percentage {
		position: absolute;
		top: 50%;
		left: 50%;
		color: map-get(g.$colors, lightgrey);
		transform: translate(-50%, -50%);
	}
	&__max {
		text-align: right;
	}
}

// ACF Button Group
.acf-button-group {
	label {
		border-color: map-get(g.$colors, lightgrey);
		background: map-get(g.$colors, white);
		&:hover {
			border-color: map-get(g.$colors, lightgrey);
			color: map-get(g.$colors, black);
			background: map-get(g.$colors, light);
		}
		&.selected {
			border-color: map-get(g.$colors, lightgrey);
			color: map-get(g.$colors, white);
			background: map-get(g.$colors, dark);
		}
	}
}

// ACF Switch
.acf-switch {
	border-color: map-get(g.$colors, dark);
	background: map-get(g.$colors, light);
	.acf-switch-on {
		color: map-get(g.$colors, white);
		text-shadow: none;
	}
	.acf-switch-slider {
		border-color: map-get(g.$colors, lightgrey);
		background: map-get(g.$colors, white);
	}
	&:hover,
	&.-focus {
		border-color: map-get(g.$colors, dark);
		color: map-get(g.$colors, dark);
		background: map-get(g.$colors, light);

		.acf-switch-slider {
			border-color: map-get(g.$colors, lightgrey);
		}
	}
	&.-on {
		border-color: map-get(g.$colors, dark);
		background: map-get(g.$colors, dark);

		.acf-switch-slider {
			border-color: map-get(g.$colors, lightgrey);
		}
		&:hover {
			border-color: map-get(g.$colors, dark);
		}
	}
}
